<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Krunal Mathukiya.</p>
        <p>It uses mapbox.com API for geocoding and weatherstack.com API for fetching weather data</p>
        <img src="/img/krunal.jpg" alt="Minion" class="portrait">
    </div>
    {{>footer}}
</body>
</html>