<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Krunal Mathukiya.</p>
        <p>It uses <i>mapbox.com API</i> for geocoding and <i>weatherstack.com API</i> for fetching weather data</p>
        <img src="/img/krunal.jpg" alt="Minion" class="portrait">
    </div>
    {{>footer}}
</body>
</html>